<div class="col s12 m6 l6">
    <ul class="collection with-header section-header">
        <li class="collection-header  yellow darken-3">
            <h5>Chat</h5>
        </li>
    </ul>
    <ul class="collection chat">
        <li class="collection-item avatar" *ngFor="let message of messages$ | async">
            <span class="title">User name here</span>
            <p>{{message.text}}</p>
        </li>
    </ul>
    <div class="input-field col s12 message-input">
        <input #msg placeholder="Write your message" type="text">
        <button (click)="sendMessage(msg.value); msg.value=''">SEND</button>
    </div>
</div>