<div class="col s12 m6 l6">
  <ul class="collection with-header section-header">
      <li class="collection-header cyan darken-1"><h5>Games</h5></li>
    </ul>
  <ul class="collection chat">
      <li class="collection-item avatar">
          <img src="https://avatars1.githubusercontent.com/u/2372431?v=3&s=460" alt="" class="circle">
          <span class="title">Progarmulya created Battle Game</span>
          <p>Players: 75</p>
      </li>
      <li class="collection-item avatar">
          <img src="https://avatars1.githubusercontent.com/u/2372431?v=3&s=460" alt="" class="circle">
          <span class="title">Progarmulya created Battle Game</span>
          <p>Players: 75</p>
      </li>
      <li class="collection-item avatar">
          <img src="https://avatars1.githubusercontent.com/u/2372431?v=3&s=460" alt="" class="circle">
          <span class="title">Progarmulya created Battle Game</span>
          <p>Players: 75</p>
      </li>
      <li class="collection-item avatar">
          <img src="https://avatars1.githubusercontent.com/u/2372431?v=3&s=460" alt="" class="circle">
          <span class="title">Progarmulya created Battle Game</span>
          <p>Players: 75</p>
      </li>
      <li class="collection-item avatar">
          <img src="https://avatars1.githubusercontent.com/u/2372431?v=3&s=460" alt="" class="circle">
          <span class="title">Progarmulya created Battle Game</span>
          <p>Players: 75</p>
      </li>
      <li class="collection-item avatar">
          <img src="https://avatars1.githubusercontent.com/u/2372431?v=3&s=460" alt="" class="circle">
          <span class="title">Progarmulya created Battle Game</span>
          <p>Players: 75</p>
      </li>
      <li class="collection-item avatar">
          <img src="https://avatars1.githubusercontent.com/u/2372431?v=3&s=460" alt="" class="circle">
          <span class="title">Progarmulya created Battle Game</span>
          <p>Players: 75</p>
      </li>
    </ul>
    <a class="waves-effect green darken-1 btn connect-btn">connect</a>
</div>
