
.user-profile__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 200px;
  max-height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.transparent_row {
  background-color: rgba(70, 62, 62, 0.47);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
}
.user-profile__avatar {
  max-height: 250px;
  max-width: 250px;
  height: 150px;
  width: 150px;
  margin: -7% auto -5% 5%;
}
.user-profile__avatar > img {
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0.41);
  border-radius: 50%;
}
.user-profile__name {
  font-size: 2em;
  color: #fff;
  font-weight: 500;
  margin: 1% auto 1% 2%;
  padding: 5px;
}
.user-profile__cell {
  color: #ccc1bc;
  font-size: 1.2em;
  border-left: 1px solid grey;
  padding: 10px;
}
.user-profile__cell > span {
  display: inline-block;
  color: #fff;
  width: 100%;
  font-weight: 500;
}
.card-content.grafic{
  border: 1px dashed #ccc1bc;
  margin: 5px;
}
/*********************************************/
/******     rewritten materialize    ********/
/**                                      ***/
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #e65100;
}
.tabs .tab a {
  color: #414141;
}
